<div class="card">
  <div class="card-body">
    <h5 class="titulo font">Mostrar tarjetas</h5>
    <div>
      <table class="table">
        <tr>
          <th>Titular</th>
          <th>Número de tarjeta</th>
          <th>Fecha de caducidad</th>
        </tr>
        @for (item of tarjetas; track $index) {
        <tr>
          <td>{{item.titular}}</td>
          <td>{{item.numeroTarjeta}}</td>
          <td>{{item.fechaCaducidad}}</td>
        </tr>
        }
      </table>
      <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-info" (click)="mostrarTarjetas()">Ver tarjetas</button>
      </div>
    </div>
  </div>
</div>
